<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  ANALYTICS SESSION START QUERY STRING KEY
            Specifies the key for specifying the start time of a session.
            Default: sc_ss
      -->
      <setting name="Analytics.SessionStartTimeQueryStringKey" value="sc_sst" />

      <!--  ANALYTICS SESSION END QUERY STRING KEY
            Specifies the key for specifying the start time of a session.
            Default: sc_ss
      -->
      <setting name="Analytics.SessionEndTimeQueryStringKey" value="sc_set" />

      <!--  ANALYTICS IP REFERRAL QUERY STRING KEY
            Specifies the ip of the referrer in the session.
            Default: sc_ip
      -->
      <setting name="Analytics.SessionIpQueryStringKey" value="sc_ip" />

      <!--  ANALYTICS TRAFFIC TYPE QUERY STRING KEY
            Specifies the traffic type of the in the session.
            Default: sc_tt
      -->
      <setting name="Analytics.SessionTrafficTypeQueryStringKey" value="sc_tt" />

      <!--  ANALYTICS KEYWORD QUERY STRING KEY
            Specifies the keywords used for organic search the in the session.
            Default: sc_kw
      -->
      <setting name="Analytics.SessionKeywordQueryStringKey" value="sc_kw" />

      <!--  ANALYTICS KEYWORD QUERY STRING KEY
            Specifies the keywords used for organic search the in the session.
            Default: sc_ref
      -->
      <setting name="Analytics.SessionUrlReferrerStringKey" value="sc_ref" />
    </settings>
    <pipelines>

      <parseReferrer>
        <processor type="Sitecore.Analytics.Pipelines.ParseReferrer.ParseGenericSearchEngine,Sitecore.Analytics">
          <engines hint="raw:AddHostParameterName">
            <engine hostname="." parametername="sc_kw"/>
            <engine hostname="localhost" parametername="sc_kw"/>
          </engines>
        </processor>
      </parseReferrer>

      <initializeTracker>
        <processor type="Dms.Jump.TrafficGenerator.Business.Pipeline.Initialize.TrafficGeneratorInitializeTracker,Dms.Jump.TrafficGenerator.Business" 
                   patch:instead="*[@type='Sitecore.Analytics.Pipelines.InitializeTracker.Initialize,Sitecore.Analytics']" />
      </initializeTracker>

      <trafficTypes>
        <processor type="Dms.Jump.TrafficGenerator.Business.Pipeline.TrafficType.TrafficGeneratorReferringSite,Dms.Jump.TrafficGenerator.Business"
                   patch:instead="*[@type='Sitecore.Analytics.Pipelines.TrafficTypes.ReferringSite,Sitecore.Analytics']" />
        <processor type="Dms.Jump.TrafficGenerator.Business.Pipeline.TrafficType.TrafficGeneratorKeyword,Dms.Jump.TrafficGenerator.Business"/>

      </trafficTypes>

      <createVisit>
        <processor type="Dms.Jump.TrafficGenerator.Pipeline.CreateVisit.TrafficGeneratorParseReferrer,Dms.Jump.TrafficGenerator.Business"
             patch:instead="*[@type='Sitecore.Analytics.Pipelines.CreateVisits.ParseReferrer,Sitecore.Analytics']" />
      </createVisit>

    </pipelines>
  </sitecore>
</configuration>